<aside>
  <div class="barcontainer">
    <div class="barBody">
      <span>HELLO, MY DEAR<br></span>
      <%= name %> <span class="upper">ALIAS</span> <%= alias %>
    </div>
    <div class="search"></div>
    <div class="opener">
      <i class="fa fa-search icon"></i>
    </div>
  </div>
  <div class="separator"></div>
</aside>