<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Jose Sanchez</title>

<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/admin/bootstrap.min.css">
<link rel="stylesheet" href="/css/admin/admin-main.css">