<div class="modal">
  <div class="small-container">
    <div class="messages">
      <div class="iconContainer">
        <div class="icon">
        </div>
      </div>
      <div class="dialog-intro">YOU WILL DELETE THIS PROJECT</div>
      <div class="dialog-message"></div>
      <div class="dialog-question">¿ARE YOU SURE?</div>
      <div class="choices">
        <span class="yes"></span>
        <span class="no"></span>
      </div>
    </div>
  </div>
</div>