<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/bar %>
    <section class="grid">
      <% include ./partials/contents %>
    </section>
    <footer>
      <% include ./partials/footer %>
    </footer>
    <% include ./partials/scripts %>
  </body>
</html>