<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/bar %>
    <% include ./partials/post_form %>
    <section id="app-container">
      <% include ./partials/contents %>
    </section>
    <footer>
      <% include ./partials/footer %>
    </footer>
    <script src="/js/admin/bundle.js"></script>
  </body>
</html>